;; project
[
 {:db/id #db/id[:db.part/db]

  :db/ident :project/start-date
  
  :db/valueType :db.type/instant
  :db/cardinality :db.cardinality/one
  ;:db/unique :db.unique/value           
  }

 
 {:db/id #db/id[:db.part/db]

  :db/ident :project/finish-date

  :db/valueType :db.type/instant
  :db/cardinality :db.cardinality/one
  }



 {:db/id #db/id[:db.part/db]

  :db/ident :project/start-date

  :db/valueType :db.type/instant
  :db/cardinality :db.cardinality/one
  }


 {:db/id #db/id[:db.part/db]

  :db/ident :project/created-date

  :db/valueType :db.type/instant
  :db/cardinality :db.cardinality/one
  }

 


 {:db/id #db/id[:db.part/db]

  :db/ident :project/name
  
  :db/valueType :db.type/string
  :db/cardinality :db.cardinality/one
  :db/unique  :db.unique/identity
  }


 {:db/id #db/id[:db.part/db]

  :db/ident :project/id
  
  :db/valueType :db.type/uuid
  :db/cardinality :db.cardinality/one
  :db/unique  :db.unique/identity
  }

 
 {:db/id #db/id[:db.part/db]

  :db/ident :project/work
  
  :db/valueType :db.type/float
  :db/cardinality :db.cardinality/one
  
  
  }

 {:db/id #db/id[:db.part/db]

  :db/ident :project/assignments
  
  :db/valueType :db.type/ref
  :db/cardinality :db.cardinality/many
  :db/isComponent true
  
  }

 ]

;; TODO add ref from project to assignements 
;; 

;; Assignment


[
 {:db/id #db/id[:db.part/db]

  :db/ident :assignment/modified-date
  
  :db/valueType :db.type/instant
  :db/cardinality :db.cardinality/one
  
  
  }


 {:db/id #db/id[:db.part/db]

  :db/ident :assignment/resource
  :db/isComponent true
  :db/valueType :db.type/ref
  :db/cardinality :db.cardinality/one
  
  }

 
 {:db/id #db/id[:db.part/db]

  :db/ident :assignment/by-day

  :db/valueType :db.type/instant
  :db/cardinality :db.cardinality/one
  :db/unique :db.unique/value
  
  }

 {:db/id #db/id[:db.part/db]

  :db/ident :assignment/work

  :db/valueType :db.type/float
  :db/cardinality :db.cardinality/one
  
  }

 {:db/id #db/id[:db.part/db]

  :db/ident :assignment/id

  :db/valueType :db.type/uuid

  :db/unique :db.unique/identity
  :db/index true
  :db/cardinality :db.cardinality/one

  
  
  }


 {:db/id #db/id[:db.part/db]

  :db/ident :assignment/task

  :db/valueType :db.type/ref
  
  :db/cardinality :db.cardinality/one
  
  }

 

 ;; Tasks

 
 ]

[{:db/id #db/id[:db.part/db]

  :db/ident :task/id

  :db/valueType :db.type/uuid
  :db/unique :db.unique/identity
  :db/cardinality :db.cardinality/one
  
  }


 {:db/id #db/id[:db.part/db]

  :db/ident :task/is-active

  :db/valueType :db.type/boolean
  
  :db/cardinality :db.cardinality/one
  
  }

 {:db/id #db/id[:db.part/db]

  :db/ident :task/name

  :db/valueType :db.type/string
  
  :db/cardinality :db.cardinality/many
  
  }]


;; Resource



[{:db/id #db/id[:db.part/db]

  :db/ident :resource/id

  :db/valueType :db.type/uuid
  
  :db/cardinality :db.cardinality/one
  :db/unique :db.unique/identity
  
  }


 {:db/id #db/id[:db.part/db]

  :db/ident :resource/modifed-date

  :db/valueType :db.type/instant
  
  :db/cardinality :db.cardinality/one
  
  }


 {:db/id #db/id[:db.part/db]

  :db/ident :resource/created-date

  :db/valueType :db.type/instant
  
  :db/cardinality :db.cardinality/one
  
  }


 {:db/id #db/id[:db.part/db]

  :db/ident :resource/email-address

  :db/valueType :db.type/string
  
  :db/cardinality :db.cardinality/one
  
  }


 {:db/id #db/id[:db.part/db]

  :db/ident :resource/type

  :db/valueType :db.type/bigint
  
  :db/cardinality :db.cardinality/one
  
  }

 {:db/id #db/id[:db.part/db]

  :db/ident :resource/name

  :db/valueType :db.type/string
  
  :db/cardinality :db.cardinality/one
  
  }


 {:db/id #db/id[:db.part/db]

  :db/ident :resource/is-active

  :db/valueType :db.type/boolean
  
  :db/cardinality :db.cardinality/one
  
  }

 {:db/id #db/id[:db.part/db]

  :db/ident :resource/modified-date
  
  :db/valueType :db.type/instant
  :db/cardinality :db.cardinality/one
  
  }
 ]
