
(d/q '[:find ?pn (pull ?a [*])  ?n ?name ?w
       :where
       [?a :assignment/by-day #inst "2019-11-23T00:00:00.000-00:00"]
       [?a :assignment/task ?t]
       [?t :task/name ?n]
       [?pr :project/assignments ?a]
       [?pr :project/name ?pn]
       [?a :assignment/resource ?r]
       [?r :resource/name ?name]
       [?a :assignment/work ?w]
       ] conn)




;; second working query

[:find ?bd ?name
 :where
 [?e :db/doc ?doc]
 [?resource :resource/name "Newsha Neishaboory"]
 [?a :assignment/resource ?resource]
 [?a :assignment/by-day ?bd]
 [?a :assignment/task ?t]
 [?t :task/name ?name]
 ]



[{:db/id 98999 :project-name "pr-name" :task/name "task-name" :by-day "22"}
 {:db/id 98999 :project-name "pr-name" :task/name "task-name" :by-day "32" }
 {:db/id 98999 :project-name "pr-name" :task/name "task-name" :by-day "21"}]


(grou-by-line)



